<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>
	
	<!-- Included JS Files  -->
	<%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="contain-to-grid">
    <nav class="top-bar">
      <ul>
        <li class="name"><h1><a href="<%= root_url %>"><i class="general foundicon-globe"></i> Divebook</a></h1></li>
        <li class="toggle-topbar"><a href="#"></a></li>
      </ul>
      <section>
        <ul class="left">
        </ul>

        <ul class="right">
          <% if user_signed_in? %>
            <li><%= link_to current_user, user_path(current_user.id) %></li>
            <li><%= link_to 'Account', edit_user_registration_path(current_user.id) %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><a href="<%= user_session_path %>">Sign In</a></li>
            <li><a href="<%= new_user_registration_url %>">Sign Up</a></li>
          <% end %>
        </ul>
      </section>
    </nav>
  </div>


  <header id="header">
    <div class="row">
      <div class="twelve columns">
        <h2><%= yield(:page_title) %></h2>
        <h4 class="subheader"><%= yield(:page_tagline) %></h4>
      </div>
    </div>
  </header>

  <section id="main-content">
  	<div class="row">
  	  <div class="twelve columns">
        <% if flash[:error] %>
          <%= content_tag :div, :id => "flash_name", :class => "alert-box error" do %>
            <%= flash[:error] %>
            <a class="close">x</a>
          <% end %>
        <% end %>

        <% if flash[:notice] %>
          <%= content_tag :div, :id => "flash_name", :class => "alert-box success" do %>
            <%= flash[:notice] %>
            <a class="close">x</a>
          <% end %>
        <% end %>

        <% if flash[:alert] %>
          <%= content_tag :div, :id => "flash_name", :class => "alert-box alert" do %>
            <%= flash[:alert] %>
            <a class="close">x</a>
          <% end %>
        <% end %>

    		<%= yield %>

  	  </div>
  	</div>
  </section>

  <footer class="row">
    <section class="twelve columns">
      <p><strong>What is Divebook?</strong> Divebook is a project under development. Not much more to see. <a href="mailto:naoise.golden@gmail.com?subject=About%20Divebook">Get in touch →</a></p>
    </section>
  </footer>

  <div id="newsletter">
    <div class="row">
      
      <div class="eight columns">
        <h5>Get notified when Divebook is out.</h5>
        <p>Contribute on <a href="http://github.com/naoisegolden/divebook">Github</a></p>
      </div>
    
      <div class="four columns">
        <div class="row collapse">
          <!-- Begin MailChimp Signup Form -->
          <form action="http://github.us6.list-manage1.com/subscribe/post?u=199f371763191faa1d31425c5&amp;id=a3eafe195d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
            <div class="eight mobile-three columns">
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="signup@example.com" required>
            </div>
            <div class="four mobile-one columns">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="postfix button expand">
            </div>
          </form>
          <!--End mc_embed_signup-->
        </div>
      </div>
    </div>
  </div>

  <div id="copyright">
    <div class="row">
      <div class="four columns">
        <p><i class="general foundicon-globe"></i></p>
      </div>
      <div class="eight columns">
        <ul class="link-list right">
          <li><%= link_to 'Home', root_url %></li>
          <li><%= link_to 'About', about_url %></li>
        </ul>
      </div>
    </div>
  </div>

</body>
</html>